<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			
			<title>Formuláio de cadastro de Not?ia</title>
		</head>
	<body>

		<h1>Adicionar notícia DD</h1>


		<form action="/noticias/salvar" method="post">
			<label>Título</label>
			<input id="titulo" name="titulo" placeholder="Titulo da notícia"></input>
			<br>
			<label>Noticia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea><br>
			<input type="submit">
		</form>
	</body>
</html>